RECEITANET_APP_PATH="C:/ProgramData/Microsoft/Windows/Start Menu/Programs/Programas RFB/Receitanet BX/Receitanet BX 1.9.24.lnk"
RECEITANET_DOCS_DIR="~/Documents/Arquivos ReceitanetBX"
RECEITANET_ONEDRIVE_DIR="~/OneDrive - Alianzo/ReceitaNet-Bx"
